@tailwind base;
@tailwind components;
@tailwind utilities;

.overflow-hidden .bg-gray-900 {
    --tw-bg-opacity: 0;
    background-color: rgba(17, 24, 39, var(--tw-bg-opacity));
    backdrop-filter: blur(4px);
  }
.bg-gray-900 {
  --tw-bg-opacity: 0;
  background-color: rgba(17, 24, 39, var(--tw-bg-opacity));
  backdrop-filter: blur(4px);
}

/* Di file CSS Anda */
::-webkit-scrollbar {
  width: 8px; /* Lebar scroll bar */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Warna scroll bar thumb */
  border-radius: 3px; /* Sudut scroll bar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Warna scroll bar thumb saat hover */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Warna track scroll bar */
  border-radius: 3px; /* Sudut track scroll bar */
}

/* body {
  background-color: #f9fafb;
} */